html {
  line-height: 1.15; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}

body {
  margin: 5em;
}

h1 {
  font-size: 3.5em;
}

h2{
  font-size: 1.5em ;
}

hr {
  box-sizing: content-box; 
  height: 0; 
  overflow: visible; 
}

li {
  line-height: 1.7em;
}


